body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightslategrey;
}

.hud {
    border-radius: 16px;
    background-color: cadetblue;
    padding: 16px;
    color: white;
}

.gameBody {
    display: none;
}

.gameScore {
    margin-top: 8px;
    border-radius: 16px;
    background-color: rgb(88, 199, 162);
    padding: 16px;
    color: white
}

.row {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    gap: 2px;
}

.cell {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(223, 231, 239);
}

.black {
    box-sizing: border-box;
    background-color: black;
    border-radius: 50%;
    height: 85%;
    width: 85%;
    border: 2px solid rgb(66, 66, 66);
}

.white {
    box-sizing: border-box;
    background-color: white;
    border-radius: 50%;
    height: 85%;
    width: 85%;
    border: 2px solid rgb(66, 66, 66);
}

#board {
    margin: 16px;
    height: 512px;
    width: 512px;
    padding: 2px;
    box-sizing: border-box;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    gap: 2px 0;
}

.buttons-div {
    margin-top: 8px;
    display: flex;
    gap: 8px;
}

.button {
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

.button:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.button:hover {
    background-color: #2c974b;
}

.button:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}

.button:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}

.button:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}